html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

body{
  height:100vh;
  max-width:100vw;
  background-image:url('./images/black_bricks.jpg');
  background-size:cover;
  background-position:center;
  color:white;
}

main{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background-color:rgba(0, 0, 0, 0.7);
  margin-bottom:0;
}

footer{
  height:10vh;
  background-color:rgba(0, 0, 0, 0.7);
  text-align:center;
  margin:0;
}

.hidden{
  display:none;
}

h1,
h2,
h3,
h4,
p,
label,
button{
  font-family: 'Sarabun', sans-serif;
}

p{
  margin:0;
  background:#1b1a1a;
}

h4{
  padding: 1% 0;
  background: linear-gradient(133deg, rgba(250,125,125,1) 20%, rgba(41,211,241,1) 80%);
  border-radius:20px;
  width:30%;
  text-align:center;
  margin:0 auto;
  color: #1b1a1a;
}

button:hover,
select,
option{
  cursor:pointer
}

section, 
.userInputs{
  margin:0 auto;
  width:50vw;
  height:50vh;
  min-width:800px;
  min-height: 450px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  text-align:center;
    
}

.userInputs{
  max-height:400px;
}

.quiz, 
.userInputs, 
.userMessage{
  background:#1b1a1a;
  border:6px double #29D3F1;
  border-radius:20px;
  padding:2%;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-2-23 22:35:31
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

  @keyframes flicker-4 {
    0%,
    100% {
      opacity: 1;
    }
    31.98% {
      opacity: 1;
    }
    32% {
      opacity: 0;
    }
    32.8% {
      opacity: 0;
    }
    32.82% {
      opacity: 1;
    }
    34.98% {
      opacity: 1;
    }
    35% {
      opacity: 0;
    }
    35.7% {
      opacity: 0;
    }
    35.72% {
      opacity: 1;
    }
    36.98% {
      opacity: 1;
    }
    37% {
      opacity: 0;
    }
    37.6% {
      opacity: 0;
    }
    37.62% {
      opacity: 1;
    }
    67.98% {
      opacity: 1;
    }
    68% {
      opacity: 0;
    }
    68.4% {
      opacity: 0;
    }
    68.42% {
      opacity: 1;
    }
    95.98% {
      opacity: 1;
    }
    96% {
      opacity: 0;
    }
    96.7% {
      opacity: 0;
    }
    96.72% {
      opacity: 1;
    }
    98.98% {
      opacity: 1;
    }
    99% {
      opacity: 0;
    }
    99.6% {
      opacity: 0;
    }
    99.62% {
      opacity: 1;
    }
  }
  

.titleImage{
    margin:0 auto;
    width:50%;
    animation: flicker-4 4s linear infinite both;
}

select{
  width:50%;
  margin: 2% auto;
  border: 2px solid #ff6666;
  border-radius: 20px;
  padding: 2%;
  background: #1b1a1a;
  color: white;
  text-align: center;
}

.startQuiz{
  width:25%;
  margin:0 auto;
  border: 2px solid #1b1a1a;
  border-radius: 20px;
  padding: 2%;
  background: #ff6666;
  color: #ffffff;
  text-align: center;
}

.startQuiz:hover{
  border:2px solid #ff6666;
  background:transparent;
}

.gameData{
  display:flex;
  justify-content: space-around;
}

.answers{
  width:70%;
  margin:0 auto;
  display: flex;
  flex-wrap: wrap;
}

.answers button,
.next,
.startOver{
  width:48%;
  margin:1% auto;
  border: 2px solid #ff6666;
  border-radius: 20px;
  padding: 2%;
  background:transparent;
  color: white;
  text-align: center;
}

.answers button:hover{
  border:2px solid transparent;
  background-color:#ff6666;
  color:#1b1a1a;
}

.next,
.startOver{
  border:2px solid #29D3F1;
}

.next:hover,
.startOver:hover{
  border:2px solid transparent;
  background:#29D3F1;
  color:#1b1a1a;
  
}

.startOver{
  width:30%;
  margin:5% auto;
}

.startOver button{
  width:30%;
}

/** Media Queries **/

/* Portrait tablet and small desktops
@media (max-width: 940px) {
} */

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  section, 
  .userInputs{
    min-width: 500px; 
  }

}

/* Landscape phones and down */
@media (max-width: 480px) {
  section, 
  .userInputs{
    min-width: 400px; 
    
  }

  h1{
    font-size: 1.8rem;
  }

  h4{
    width:50%;
  }
}

